{% macro etcd_hosts() %}
{%- for host in groups['etcd'] -%}
https://{{ hostvars[host]['ip'] }}:2379{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- endmacro -%}

FLANNELD_IFACE="{{hostvars[inventory_hostname]['ip']}}"
FLANNELD_PUBLIC_IP="{{hostvars[inventory_hostname]['ip']}}"
FLANNELD_ETCD_ENDPOINTS="{{etcd_hosts()}}"
FLANNELD_ETCD_CAFILE="{{kube_conf_dir}}/ca.pem"
FLANNELD_ETCD_CERTFILE="{{kube_conf_dir}}/kubernetes.pem"
FLANNELD_ETCD_KEYFILE="{{kube_conf_dir}}/kubernetes-key.pem"
FLANNELD_ETCD_PREFIX="{{flannel_etcd_prefix}}"
FLANNELD_SUBNET_FILE="{{flannel_subnet_file_dir}}/subnet.env"
