{
  "CN": "{{ kube_ca_cert_name }}",
  "key": {
    "algo": "rsa",
    "size": {{ kube_ca_key_size }}
  },
  "names": [
    {
      "C": "{{ kube_ca_cert_country }}",
      "L": "{{ kube_ca_cert_city }}",
      "O": "{{ kube_ca_cert_org }}",
      "OU": "{{ kube_ca_cert_ou }}",
      "ST": "{{ kube_ca_cert_province }}"
    }
  ]
}
